# Практическая работа 1

## 2

In [1]:
import math

def area_of_shapes() -> None:
    a, h = map(int, input('Введите сторону и высоту треугольника: ').split())
    areas = dict()
    areas['треугольник'] = 1/2 * a * h

    w, h = map(int, input('Введите ширину и высоту прямоугольника: ').split())
    areas['прямоугольник'] = w * h

    r = int(input('Введите радиус круга: '))
    areas['круг'] = math.pi * r ** 2

    print(areas)

area_of_shapes()

{'треугольник': 3.0, 'прямоугольник': 4, 'круг': 78.53981633974483}

## 3

In [2]:
def calculator() -> None:
    first, second = map(int, input('Введите два числа: ').split())
    operation = input(
        'Введите операцию (+, -, /, //, **), которую необходимо произвести: ')
    if operation == '+':
        print(first + second)
    elif operation == '-':
        print(first - second)
    elif operation == '**':
        print(first ** second)
    elif operation == '/':
        try:
            print(first / second)
        except ZeroDivisionError:
            print('На ноль делить нельзя')
    elif operation == '//':
        try:
            print(first // second)
        except ZeroDivisionError:
            print('На ноль делить нельзя')

calculator()

8

## 4

In [5]:
def numbers_sum_equals_zero() -> None:
    print('Введите числа: ', end='')
    sum = 0
    squares = 0
    while sum != 0 or squares == 0:
        number = int(input('> '))
        sum += number
        squares += number ** 2
    print('\n', squares)
    
numbers_sum_equals_zero()

Введите числа:
 6

## 5

In [6]:
def print_numbers_n_times() -> None:
    n = int(input('Введите длину последовательности: '))
    if n < 0:
        print('Число должно быть неотрицательным!')
    result = []
    i = 1
    while len(result) < n:
        for _ in range(i):
            result.append(i)
        i += 1
    print(result)
    
print_numbers_n_times()

[1, 2, 2]

## 6

In [7]:
def create_dict() -> None:
    a = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
    b = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
    result = dict()
    for i in range(len(b)):
        if b[i] in result:
            result[b[i]] += a[i]
        else:
            result[b[i]] = a[i]
    print(result)
    
create_dict()

{'a': 17, 'b': 11, 'c': 17}

## 7

In [10]:
from sklearn.datasets import fetch_california_housing

data = fetch_california_housing(as_frame=True)
print(data)

{'data':        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude
0        -122.23
1        -122.22
2        -122.24
3        -122.25
4        -122.25
...          ...
20635    -121.09
20636    -121.21
20637    -121.22
20638    -121.32
20639    -121.24

[20640 rows x 8 columns], 'target': 0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64, 'frame':        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  MedHouseVal
0        -122.23        4.526
1        -122.22        3.585
2        -122.24        3.521
3        -122.25        3.413
4        -122.25        3.422
...          ...          ...
20635    -121.09        0.781
20636    -121.21        0.771
20637    -121.22        0.923
20638    -121.32        0.847
20639    -121.24        0.894

[20640 rows x 9 columns], 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

## 8

In [13]:
import pandas as pd


data_frame = pd.DataFrame(data=data.data, columns=data.feature_names)
print(data_frame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB
None

## 9

In [14]:
data_frame.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

## 10

In [18]:
data.data.loc[(data.data['HouseAge'] > 50) & (data.data['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

## 11

In [19]:
print(data.data['MedInc'].max())

15.0001

In [20]:
print(data.data['MedInc'].min())

0.4999

## 12

In [24]:
import numpy as np

data.data.apply(np.mean)

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

## 1*

In [26]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
 'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}

def encode_text():
    inp = input("Введите предложение из строчных английских букв и пробелов: ").lower()

    if any(char.isdigit() for char in inp):
        raise Exception("Неправильный ввод")

    result = ""

    for char in inp:
        if char == " ":
            result += "\n"
            continue

        morze_associated_character = morze.get(char, None)
        
        if morze_associated_character is None:
            raise Exception(f"Неправильный ввод: символ {char} нельзя закодировать с помощью морзе")

        result += f"{morze_associated_character} "

    print(f"Morse interpretation:\n{result}")
    
encode_text()

Morse interpretation:
.- .-- . .-. --. …. .--- ..-. .- …. .--- .-- .

. .-- ..-. .- .-- .
. ..-.
. ..-. .

## 2*

In [27]:
def register():
    users = {}

    number_of_user_requests = int(input("Введите количество запросов: "))
    print("Введите запрос: ")

    for i in range(number_of_user_requests):
        user_name = input()
        user = users.get(user_name, None)

        if user is None:
            users[user_name] = 0
            print("OK")
            continue

        users[user_name] += 1
        print(f"{user_name}{users[user_name]}")

register()

Введите запрос:
OK
name1

## 3*

In [32]:
class File:
    def __init__(self, write: bool, read: bool, execute: bool):
        self.write = write
        self.read = read
        self.execute = execute


def task_3():
    file_count = int(input("Enter file count: "))
    files = {}
    print("Enter file names and permissions: ")
    for i in range(file_count):
        read_data = input().split()
        file_name, file_permissions = read_data[0], read_data[1:]

        read_permission, write_permission, execute_permission = False, False, False
        for symbol in file_permissions:
            if symbol == " ":
                continue
            if symbol == "r":
                read_permission = True
            elif symbol == "w":
                write_permission = True
            elif symbol == "x":
                execute_permission = True
            else:
                raise Exception(f"Invalid permission: {symbol}")
            files[file_name] = File(write_permission, read_permission, execute_permission)

    print("Enter number of requests: ")
    number_of_requests = int(input())
    print("Enter the requests: ")

    for i in range(number_of_requests):
        operation, filename = input().split()
        file = files.get(filename, None)

        if file is None:
            raise Exception(f"File not found: {filename}")

        if getattr(file, operation):
            print('OK')
        else:
            print('Access denied')

task_3()

Enter file names and permissions:
Enter number of requests:
Enter the requests:
Access denied
OK
OK
OK
OK